* {
	color: white;
	font-family: Merriweather;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 100px;
	background-color: #303030;
}

#mainIcon {
	width: 10vh;
	vertical-align: middle;
	margin-left: 2vh;
	margin-right: 2vh;
}

h1 {
	font-family: "Roboto Slab", sans-serif;
	display: inline-block;
	font-size: 6vh;
	vertical-align: middle;
	line-height: 8vh;
}

#page1 {
	margin-top: 6vh;
	margin-bottom: 4vh;
	line-height: 100%;
	text-align: center;
}

#block-container {
	text-align: center;
	max-width: 1280px;
	display: inline-block;
}

.card {
	transition: all 0.2s ease;
	width: 26vh;
	height: 40vh;
	box-shadow: 0 0 2vh 0 rgba(0, 0, 0, .3);
	border-radius: 1.5vh;
	margin: 3vh;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background-position: 6vh 6vh;
	background-repeat: no-repeat;
	background-image: radial-gradient(farthest-side at 0 0, white 90%, #cccccc 200%);
	background-color: white;
}

.card:hover {
	box-shadow: 0 1vh 2.5vh 0 rgba(0, 0, 0, .3);
	transform: scale(1.05, 1.05) translate(0, -1vh);
	background-position: 0, 0;
}

.card-top {
	border-radius: 1.5vh 1.5vh 0 0;
}

.card-top,
.card-bottom {
	width: 100%;
	box-sizing: border-box;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: "Merriweather", sans-serif;
	font-size: 1.9vh;
	color: black;
}

.card-top{
	height: 55%;
}

.card-bottom {
	height: 45%;
	padding: 10%;
	color: black;
}

.card-bottom b, .card-bottom strike{
	color:black
}

a {
	color: black;
	text-decoration: none;
}

.break {
	width: 100%;
	font-size: 4vh;
	padding: 2vh;
	box-sizing: border-box;
	font-family: "Merriweather", sans-serif;
}

#dp{
	border-radius: 100%;
	height: 10vh;
	vertical-align: middle;
	margin-left: 2vh;
	margin-right: 2vh;
}
